/* Estilos para telas grandes */

@media screen and (min-width: 768px) {
    .material-symbols-outlined {
        display: none;
        position: fixed;
    }
}

/* Estilos para telas pequenas */
@media screen and (max-width: 767px) {
    .material-symbols-outlined {
        border: 1px solid black;
        border-radius: 0px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.527), rgba(255, 255, 0, 0.438));
        position: fixed;
        width: 101vw;
        top: 0;
        z-index: 100;
    }

    .navegacao {
        display: none;
        position: fixed;
        z-index: 99;
        border-radius: 0px 10px;
        margin-top: 4px;
        gap: 1rem;
        padding: 0rem;
    }

    .menu {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .link-menu {
        background-image: linear-gradient(to left, #00000054, #f5a40275);
        display: inline-block;
        width: 100vw;
        text-align: center;
        border: 1px solid black;
    }

    .link-menu::after {
    content: ''; /*Mesmo vazio, é obrigatório para que o pseudoelemento exista.*/
    height: 100%;
    width: 0; /*Isso é feito para que ele não apareça inicialmente.
Quando o usuário passa o mouse, a largura será aumentada, criando uma animação de expansão.*/
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.527), rgba(0, 0, 0, 0.438));
    transition: width 1s ease;
    }
}


