/* Estilos para telas grandes */

@media screen and (min-width: 768px) {
    .material-symbols-outlined {
        display: none;
        position: fixed;
    }
}

/* Estilos para telas pequenas */
@media screen and (max-width: 767px) {
    .material-symbols-outlined {
        border: 1px solid black;
        border-radius: 10px;
        background-image: linear-gradient(to left, #00000054, #f5a40275);
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 100;
    }

    .navegacao {
        display: none;
        position: fixed;
        z-index: 99;
        border-radius: 0px 10px;
        margin-top: 4px;
        gap: 1rem;
        background-color: rgb(128, 128, 128);
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
    }

    .link-menu {
        display: inline-block;
        width: 99vw;
        text-align: center;
        border-radius: 10px;
        border: 1px solid black;
    }
}


